.first-v {
    display: flex;
    align-items: center;
    height: 800px;
}

.first-v-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
         @include sp {
            position: absolute;
            background-color: transparent;
            width: 100%;
            text-align: center;
    }

     .text {
        height: 27%;
        font-size: 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include sp {
            color: white;

        }
        .text1 {
            font-family: ヒラギノ明朝 Pro;
        }
        .text2 {
            font-family: Zapfino;
        }
       }
}

    .first-img {
        background-image: url(../img/first-view.png);
        height: 800px;
        width: 50%;
        background-size: cover;
        @include sp {
            width: 100%;
            height: 800px;
        }
    }


